<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wicked 3D Print</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/products.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link href="https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/images/icon.png">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body fixed-top" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/images/wicked.png" alt="Logo" width="80" height="24" class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav nav-tabs navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/admin">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/categorias">CATEGORIAS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/products">PRODUCTOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/orders">ORDENES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/admin/users">USUARIOS</a>
                    </li>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <%= user.username %>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="/auth/logout">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" style="padding-top: 80px;">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Listado de Usuarios</h1>
            </div>
            <div class="col-12">
                <table class="table table-hover">
                    <thead class="thead-light table-active">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Usuario</th>
                            <th scope="col">Contraseña</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach(user=> { %>
                            <tr>
                                <th scope="row">
                                    <%= user.id %>
                                </th>
                                <td>
                                    @<%= user.username %>
                                </td>
                                <td>
                                    <%= user.password %>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                        data-bs-target="#usersModal"
                                        onclick="openusersModal(<%= user.id %>, '<%= user.username %>', '<%= user.password %>')">
                                        Editar</button>
                                    <form action="/admin/users/destroy/<%= user.id %>" method="post" class="d-inline"
                                        onsubmit="return confirm('¿Está seguro que quiere eliminar el usuario?')">
                                        <button type="submit" class="btn btn-danger">Eliminar</button>
                                    </form>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
            <div class="col-12 col-md-3">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#usersModal""
                onclick=" openusersModal()">
                    + Agregar Usuarios
                </button>
            </div>
            <div class="modal fade" id="usersModal" tabindex="-1" aria-labelledby="usersModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="usersModal">Agregar/Editar Usuario</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="/" method="post" id="usersFrom">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="username" class="form-label">Usuario</label>
                                    <input name="username" type="text" class="form-control" id="username"
                                        aria-describedby="usernameHelp">
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Contraseña</label>
                                    <input name="password" type="text" class="form-control" id="password"
                                        aria-describedby="passwordHelp">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function openusersModal(id = null, username = '', password = '') {
            if (id) {
                document.getElementById('usersFrom').action = `/admin/users/edit/${id}`;
            } else {
                document.getElementById('usersFrom').action = '/admin/users';
            }
            document.getElementById('username').value = username;
            document.getElementById('password').value = password;
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>