<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wicked 3D Print</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/modelos.css">
    <link rel="stylesheet" href="/css/shop.css">
    <link href="https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/images/icon.png">
</head>

<body class="<%= modelos.length > 0 ? modelos[0].Patreon.toLowerCase() : '' %>" style="padding-top: 40px;">
    <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body fixed-top" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/images/wicked.png" alt="Logo" width="80" height="24" class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav nav-tabs navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">HOME</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link active" href="/modelos?patreon=Wicked">WICKED</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/modelos?patreon=B3dserk">B3DSERK</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/modelos?patreon=Star_Wars">STAR WARS</a>
                    </li> -->
                    <ul class="navbar-nav">
                        <% categorias.forEach(categoria=> { %>
                            <li class="nav-item">
                                <a class="nav-link active" style="background-color: <%= categoria.color %>;"
                                    href="/modelos?patreon=<%= categoria.categoria %>">
                                    <%= categoria.categoria %>
                                </a>
                            </li>
                            <% }) %>
                    </ul>
                    <li class="nav-item">
                        <a class="nav-link" href="/aboutus">ABOUT US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/login">LOGIN</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <% modelos.forEach(modelo=> { %>
                <div class="col">
                    <div class="card modelo-card h-100 position-relative">
                        <img src="/images/<%= modelo.Nombre_Modelo %>.jpg" class="card-img-top"
                            alt="<%= modelo.Nombre_Modelo %>" style="height: 340px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title text-center">
                                <%= modelo.Nombre_Modelo %>
                            </h5>
                            <p class="card-text">
                                <strong><i class="bi bi-film"></i> Película:</strong>
                                <%= modelo.Pelicula %><br>
                                    <strong><i class="bi bi-rulers"></i> Medida:</strong>
                                    <%= modelo.Medida %><br>
                                        <strong><i class="bi bi-aspect-ratio"></i> Escala:</strong>
                                        <%= modelo.Escala %><br>
                                            <strong><i class="bi bi-currency-dollar"></i> Precio:</strong>
                                            $<%= modelo.Precio %>
                            </p>
                        </div>
                        <div class="card-footer d-flex justify-content-center align-items-center">
                            <form action="/shopping-cart/add/<%= modelo.id %>" method="post" class="d-inline w-100"
                                id="form-<%= modelo.id %>">
                                <button type="submit" class="btn btn-success w-100">Agregar al Carrito</button>
                            </form>
                        </div>
                    </div>
                </div>
                <% }); %>
        </div>
    </div>
    <div id="cart-button" class="floating-cart">
        <a href="/shopping-cart" class="btn btn-danger rounded-circle">
            <i class="fas fa-shopping-cart"></i>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                <%= carrito.length %>
            </span> <!-- Número de productos -->
        </a>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Interceptar el envío del formulario
            $('form').submit(function (event) {
                event.preventDefault(); // Prevenir el comportamiento por defecto del formulario

                var form = $(this);
                var actionUrl = form.attr('action'); // Obtener la URL de acción
                var formData = form.serialize(); // Serializar los datos del formulario

                // Enviar la solicitud AJAX
                $.ajax({
                    type: 'POST',
                    url: actionUrl,
                    data: formData,
                    success: function (response) {
                        // Puedes actualizar la vista del carrito o mostrar un mensaje
                        alert('Producto agregado al carrito');
                        // Aquí podrías agregar lógica para actualizar el carrito en la interfaz, si es necesario.
                    },
                    error: function () {
                        alert('Hubo un error al agregar el producto al carrito');
                    }
                });
            });
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</body>

</html>